<ActionBar title="">
    <GridLayout columns="80, *, auto" rows="auto, *">
        <Label class="fa action-image" row="0" col="0" text="{{'fa-bars' | fonticon}}" (tap)="openDrawer()"></Label>
        <Label text="FROppings" row="0" col="1" colSpan="2" class="action-label"></Label>
        <Label class="fa action-image icon-right" row="0" col="2" text="{{'fa-plus' | fonticon}}" (tap)="openUploader()"></Label>
    </GridLayout>
</ActionBar>
<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Image horizontalAlignment="left" src="https://avatars0.githubusercontent.com/u/6320574?v=3&s=460" class="thumbnail"></Image>
            <label horizontalAlignment="left" text="Erika Gutiérrez" class="info"></label>
            <label horizontalAlignment="left" text="erikagutierrez01@gmail.com" class="info2"></label>
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <StackLayout orientation="horizontal">
                <Label class="fa action-image navigationIcon" text="{{'fa-home' | fonticon}}" (tap)="openDrawer()"></Label>
                <label horizontalAlignment="left" text="Home" class="itemNavigation"></label>
            </StackLayout>
            <StackLayout orientation="horizontal">
                <Label class="fa action-image navigationIcon" text="{{'fa-user' | fonticon}}" (tap)="openDrawer()"></Label>
                <label horizontalAlignment="left" text="Perfil" class="itemNavigation"></label>
            </StackLayout>
            <StackLayout orientation="horizontal" (tap)="exit()">
                <Label class="fa action-image navigationIcon" text="{{'fa-sign-out' | fonticon}}" (tap)="exit()"></Label>
                <label horizontalAlignment="left" text="Salir" class="itemNavigation"></label>
            </StackLayout>
        </StackLayout>
    </StackLayout>
    <StackLayout tkMainContent class="home" height="100%">
        <StackLayout [class.odd]="odd " [class.even]="even" class="card">
            <Image #imageSelected src="content://media/external/images/media/16267"
            stretch="fill" class="imageList"></Image>
            <DockLayout orientation="horizontal">
                <Label text="Nombre"  dock="left" class="nameList"></Label>
                <Label class="fa listIcon" dock="right" text="{{'fa-heart' | fonticon}}" (tap)="openDrawer()"></Label>
            </DockLayout>
        </StackLayout>
    </StackLayout>
</RadSideDrawer>
