/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/

.btn {
    font-size: 18;
}

.fa {
    font-family: FontAwesome, fontawesome;
}

.p {
    padding: 10px;
}

.m {
    padding: 10px;
}

.bgc-white {
    background-color: #fff;
}

.page-name {
    font-size: 16px;
    color: #000;
}

.logo {
    width: 50%;
}

.thumbnail {
    width: 25%;
    border-radius: 200%;
    margin-top: 2%;
    margin-left: 5%;
}

.info {
    margin-top: 2%;
    margin-left: 5%;
    color: white;
    font-size: 15vw;
}

.action-image {
    vertical-align: center;
    font-size: 20;
}

.action-label {
    margin-top: -5;
    margin-left: 15;
    font-size: 24;
    vertical-align: center;
    font-family: Droidiga;
}

.info2 {
    margin-left: 5%;
    color: #d2d2d2;
    font-size: 13vw;
    margin-bottom: 3%;
}

ActionBar {
    background-color: #29211d;
    color: white;
}

.sideTitleStackLayout {
    background-color: #29211d;
}

RadSideDrawer {
    padding: 0;
    margin: 0;
}

.sideStackLayout {
    background-color: white;
}

.itemNavigation {
    margin-top: 15;
    margin-left: 15;
    font: 16;
}

.home {
    height: 100%;
}

.navigationIcon {
    margin-top: 15;
    margin-left: 15;
    color: #6d1d46;
}

.card {
    padding-left: 20;
    padding-top: 20;
    padding-right: 20;
}

.imageList {
    height: 250;
}

.nameList {
    font: 20;
    margin-top: 10;
    margin-bottom: 10;
}

.listIcon {
    margin-left: 170;
    vertical-align: center;
    color: #6d1d46;
    font-size: 30;
}


/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/

@import 'nativescript-theme-core/css/core.light.css';